.wrap{
  width: 1440px;
  margin: 0 auto;
}
.h1{
 font-size:40px
}
.h2{
 font-size:28px
}
.h3{
 font-size:14px
}
.h4{
 font-size:18px;
}
.h5{

}
.h6{

}
.p{
 font-size:16px
}
.block{
 display: block;
}
.money{
   width: 214px;
   height:207px;
}
.bold{
 font-weight: 700
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom: 30px;
}
.current{
  background-color: #333 !important;
  color: #fff !important;;
}
.flex{
  display:flex;
}
.b{
  background-image: url(../img/b.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.s{
  background-image: url(../img/s.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.k{
  background-image: url(../img/k.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.kk{
  background-image: url(../img/kk.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.kkk{
  background-image: url(../img/kkk.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.h{
  background-image: url(../img/h.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.l{
  background-image: url(../img/l.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.m{
  background-image: url(../img/m.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 57px;
  background-size: 84px;
}
.cowh{
  color: white
}
.hide{
  display:none;
}
.backwhite{
  background-color:white;
}
.brown{
 background-color: #7d756a;
 color:#fff;
}
.blue{
 background-color: #3553a8;
 color:#fff; 
  
}